<header id="topp">
    <div class="navbar">
        <div id="logo">
            <p class="p-logo" style="color:orange;">FOLK</p>
            <img class="img-logo" src="/logo3.png" alt="logo" height="25px" width="25px"> 
            <p class="p-logo" style="color:orange;">BAZAAR</p>
        </div>
        <div class="right">
            <a href="/index"><span class="material-symbols-outlined" style="color:orange;">home</span></a>
            <a href="/products"><span class="material-symbols-outlined" style="color:orange;">package</span></a>
            <a href="/signup"><i class="fa-solid fa-user" style="color:orange;"></i></a>
        </div>
    </div>
</header>
