<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    address{
        text-align: center;

        color: hotpink;

        font-size: 20px;
    }
</style>



<body>
    <div>
        <address>
            Bml munjal univerity, Kapriwas ,Haryana,India
        </address>
    </div>
    
</body>
</html>