.navbar{
  background-color: black;
  height: 60px;
  display: flex;             
  justify-content: space-between;
  align-items: center;           
  padding: 0 10px;  
  border-bottom: 2px solid orange;             
}

#logo{
  height: 60px;
  background-color:black;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 30px;   
}

.right{
  display: flex;               
  margin-right: 25px;                 
  background-color:black; 
  align-items: center; 
  font-size:23px;
  gap: 20px;     
}
i{
  font-size: 23px;
  transition: all 0.3s ease;
}

.right .material-symbols-outlined {
  font-size: 28px;
  transition: all 0.3s ease;
}

.right a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.right a:hover i,
.right a:hover .material-symbols-outlined {
  transform: scale(1.2);
  filter: brightness(1.3);
}

.right a:active i,
.right a:active .material-symbols-outlined {
  color: white !important;
}
