<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        text-align: center;

        color: hotpink;

        font-size: 20px;
    }
    div{
        background-color: lime;
        
    }
</style>



<body>
    <div>
        <h1>
            Bml munjal  university
        </h1>
    </div>
    
</body>
</html>